h4 {
  text-decoration: underline;
}

img {
  width: 500px;
  height: 300px;
}

.food-list-item {
  background-color: lightpink;
  box-shadow: 0 2px 3px #222;
  margin: 10px;
  text-align: center;
  width: 500px;
}

.food-list-item button {
  background-color: firebrick;
  border: 1px solid black;
  margin: 2px;
}
