h4 {
  text-decoration: underline;
}

img {
  width: 150px;
}

.food-list-item {
  background-color: #64E279;
  box-shadow: 0 2px 3px #222;
  margin: 10px;
  text-align: center;
  width: 200px;
}

.food-list-item button {
  background-color: #64E279;
  border: 1px solid #47A76E;
  margin: 2px;
}
