#form-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

#form-container input {
  margin: 0 5px;
}

#form-container button {
  background-color: firebrick;
  border: 1px solid black;
  margin: 0 5px;
}
